* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background-image: url(크리스범스테드.jpg);
  background-position: center;
  background-size: cover;
}
.train-form select {
  text-align: center;
  border-radius: 10px;
  width: 370px;
  height: auto;
  margin: 10px auto;
  padding: 10px;
}
.train-form {
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-weight: 800;
  color: rgb(12, 12, 12);
  border: 3px solid rgb(199, 175, 175);
  width: 350px;
  height: auto;
  padding: 10%;
  margin: 10% auto 10%;
}
.train-form input {
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  border-color: white;
}
.train-form textarea {
  border-radius: 10px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  height: 80px;
}
.submit {
  border-color: snow;
  border: solid;
  background-color: black;
  color: rgb(247, 3, 3);
}
.베넷 {
  width: 200px;
  height: 200px;
  top: 0px;
  right: 0px;
  font-weight: 900;
  text-align: center;
  color: aliceblue;
  border: solid;
  background-image: url(크리스범스테드1.jpg);
  border-color: black;
  background-size: 100%;
  position: fixed;
  padding: 0px 50px 100px;
}
/* 예약 완료 */
/* class안에 class를 호출 하려면 (.부모클래스 + .자식클래스{}) */
.train-form .button {
  border: 5px solid;
  background-color: rgb(42, 111, 240);
  color: aliceblue;
  border-color: rgb(6, 89, 243);
}
/* 예약 취소 */
.train-form .button1 {
  border: 5px solid;
  border-color: rgb(243, 11, 11);
  background-color: rgb(238, 45, 45);
  color: aliceblue;
}
