* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: auto;
}
header {
  /* background-color: bisque; */
  /* 먼저 background-color를 이용해서 크기를 조절함 */
  /* 조절 후 background-color는 주석처리 혹은 삭제 */
  background-image: linear-gradient(rgba(4, 10, 20, 0.7), rgba(4, 10, 20, 0.7)),
    url(동물배경.jpeg);
  background-position: center;
  background-size: cover;
  /* background 나오면 세개는 세트로 온다. */
  height: 500px;
  width: 100%;
  position: relative;
}
.nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  width: 150px;
  height: 110px;
  border-radius: 30px;
}
.nav-links ul li {
  display: inline-block;
  list-style: none;
  /* ul의 ● 없애기 */
  padding: 8px 12px;
}
.nav-links ul li:hover {
  background-color: rgb(68, 133, 3);
  border-radius: 8px;
  transform: scale(1.2);
  transition: 1s;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  /* a태그 밑줄 없애기 */
  font-weight: 800;
}
.text-box {
  width: 90%;
  color: white;
  position: absolute;
  /* 헤더 중앙에 와야함 */
  /* 헤더(부모태그)에 포지션 relative를 주고 text-box의 포지션은 absilute */
  top: 50%;
  left: 5%;
  text-align: center;
}
.text-box h1 {
  font-size: 60px;
}
.text-box p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.text-box a {
  text-decoration: none;
  /* a태그의 밑줄 없애기 */
  color: white;
  border: 1px solid white;
  font-size: 18px;
  padding: 10px 20px;
}
.text-box a:hover {
  border: 2px solid;
  background: yellow;
  color: black;
  transition: 1s;
}
.table {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 7px grey;
  box-shadow: 10px 10px 30px black;
  transition: 0.8s;
  background: linear-gradient(225deg, red, orange, yellow, green, blue);
  background-position: center;
  background-size: auto;
}
.table h1 {
  margin: 0 auto;
  margin-bottom: 10px;
}
.table h1:hover {
  box-shadow: 0px 0px 20px 10px black;
  transition: 0.5s;
}
caption {
  font-size: 20px;
  font-weight: 800;
  color: orangered;
}
.table:hover {
  box-shadow: 10px 30px 50px 10px rgba(248, 7, 7, 0.8);
  transition: 0.5s;
}

tr {
  border: 1px solid #444444;
}
tr td {
  color: black;
}

thead {
  box-shadow: 0 1px 5px rgb(19, 18, 18);
}

th {
  padding: 1rem 2rem;
  letter-spacing: 0.4rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  font-family: TmonMonsori, "GodoB", "궁서체";
  font-weight: 800;
  padding: 1rem 2rem;
  text-align: center;
}
#style {
  opacity: 0.7;
}
.rainbow {
  width: 80%;
  height: 200px;
  border: solid;
  margin: 20px auto;
  background: linear-gradient(to right, red, orange, yellow, green, blue);
}
